@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Lalezar";
  src: url("../Fonts/Lalezar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}